.wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #7C7E80;
}

.name {
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #7C7E80;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
}

.categories {
    width: 90%;
    height: 70%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    /*background-color: #6b7510;*/
}

.category {
    width: 100%;
    height: 20%;
    margin: 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow:  5px 5px 10px #adacac;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryCompleted {
    width: 100%;
    height: 20%;
    border: 5px solid #fff;
    border-radius: 30px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21c2a5;
}

.nameBox {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 68px;
    font-weight: bold;
}

.complete {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #4beedb;
    border: 1px solid black;
    border-radius: 50%;
}

.description {
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #7C7E80;
}

.showButton{
    margin: 20px auto;
    width: 70%;
    height: 120px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 60px;
    font-weight: bolder;
}
.showTitle{
    margin: 20px auto;
    width: 85%;
    height: 130px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 5px;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}