
.wrapper{
    position: relative;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-color: gray;
    margin: 20px auto;
    z-index: 1;
}
/*.container{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border-radius: 50%;*/
/*    background-color: white;*/
/*    transform: translate(-50%, -50%);*/


/*}*/
/*.container1{*/
/*    transform: rotate(15deg) translate(108px) rotate(-15deg);*/
/*}*/
/*.container2{*/
/*    transform: rotate(58deg) translate(103px) rotate(-45deg);*/
/*}*/
/*.container3{*/
/*    transform: rotate(101deg) translate(114px) rotate(-75deg);*/
/*}*/
/*.container4{*/
/*    transform: rotate(135deg) translate(136px) rotate(-135deg);*/
/*}*/
/*.container5{*/
/*    transform: rotate(165deg) translate(160px) rotate(-165deg);*/
/*}*/
/*.container6{*/
/*    transform: rotate(195deg) translate(175px) rotate(-195deg);*/
/*}*/
/*.container7{*/
/*    transform: rotate(225deg) translate(180px) rotate(-225deg);*/
/*}*/
/*.container8{*/
/*    transform: rotate(255deg) translate(173px) rotate(-255deg);*/
/*}*/
/*.container9{*/
/*    transform: rotate(281deg) translate(162px) rotate(-285deg);*/
/*}*/
/*.container10{*/
/*    transform: rotate(308deg) translate(145px) rotate(-315deg);*/
/*}*/
/*.container11{*/
/*    transform: rotate(340deg) translate(123px) rotate(-345deg);*/
/*}*/
/*.container12{*/
/*    transform: rotate(352deg) translate(36px) rotate(-22.5deg);*/
/*}*/
/*.container13{*/
/*    transform: rotate(111deg) translate(47px) rotate(-112.5deg);*/
/*}*/
/*.container14{*/
/*    transform: rotate(163deg) translate(85px) rotate(-157.5deg);*/
/*}*/
/*.container15{*/
/*    transform: rotate(202.5deg) translate(107px) rotate(-202.5deg);*/
/*}*/
/*.container16{*/
/*    transform: rotate(246deg) translate(102px) rotate(-247.5deg);*/
/*}*/
/*.container17{*/
/*    transform: rotate(294deg) translate(83px) rotate(-292.5deg);*/
/*}*/
/*.container18{*/
/*    transform: rotate(226deg) translate(39px) rotate(-315deg);*/
/*}*/
.mode{
    font-weight: bolder;
    color: #0d6c11;
}
.card {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    /*transform: translate(-50%, -50%);*/
    cursor: pointer;
    /*perspective: 600px;*/
    transition: transform 0.6s;
    /*background-color: #ffffff;*/
    /*border-radius: 10px;*/
    box-shadow:  3px 3px 6px #bababa,
    -2px -2px 4px #ffffff;
}
.card img{
    max-width: 40px;
    border-radius: 50%;
}
.card.flipped{
    transition: transform 0.6s;
    transform: rotateY(360deg);
}

.front img{
    /*max-width: 65px;*/
    max-width: 50px;

    max-height: 62px;
    border-radius: 50%;
}