.wrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d5dad3;
    height: 100vh;
}
.levelContainer{
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #17380a;
    height: 100px;
    margin-bottom: 10px;
    color: #ffffff;
}