.wrapper {

    position: relative;
    width: 100vw;
    margin-top: 3400px;
    background-image: url("../assets/images/match/bg/newMainBG.jpg");


}

.rowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
