.wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.container {
    width: 100vw;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.day a, .play a {
    text-decoration: none;
    color: black;
}

.day{
    position: relative;
    width: 180px;
    height: 80px;
    border-radius: 50%;
    margin: 8px;
    line-height: 80px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);*/
    font-size: 14px;
    font-weight: bolder;
}
.day img{
    margin-top: 10px;
    max-width: 40px;
}
.day.active{
    background-image: url("../assets/images/match/bg/brake-disk-clipart.png");
    background-size: cover;
    color: #969d97;
    animation: spin 30s linear infinite;
    /*box-shadow: none;*/
    font-weight: lighter;
    /*transform: translateY(-10px);*/

    box-shadow:  5px 5px 5px #666666,
    -1px -1px 1px #ffffff;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.play:disabled, .day:disabled{
    cursor: not-allowed;
}

.hidden{
    visibility: hidden;
}
.metelli {
    background-color: rgba(254, 204, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 74, 141, 0.4);
    color: #00498d;
    border: 3px solid #00498d;

}

.default {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.lynx {
    background-color: rgba(146, 148, 151, 0.7);
    box-shadow: 0 10px 20px rgba(237, 28, 36, 0.5);
    border: 1px solid #ed1c23;

}
.mann {
    background-color: rgba(255, 240, 1, 0.7);
    box-shadow: 0 10px 20px rgba(1, 124, 80, 0.7);
    border: 3px solid #017c51;

}
.asMetall{
    background-color: rgba(241, 89, 34, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid black;

}
.bluePrint{
    background-color: rgba(179, 213, 223, 0.7);
    box-shadow: 0 10px 20px rgba(3, 27, 151, 0.6);
    border: 1px solid #031c97;
}