.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    color: whitesmoke;
}

.container {
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 280px;
    height: 380px;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    top: 150px;
    transition: transform 1.9s;

}

.container::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 340px;
    height: 380px;
    /*background: linear-gradient(45deg, #fb0094, #00f, #0f0,*/
    /*#ff0, #f00, #fb0094, #00f, #0f0,*/
    /*#ff0, #f00);*/
    background: linear-gradient(45deg, #1E5945, #34C924, #ACB78E,
    #00FF7F, #98FB98, #A8E4A0, #44944A, #00FF7F,
    #34C924, #343B29);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    filter: blur(50px);
}

.container::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 340px;
    height: 380px;
    background: linear-gradient(45deg, #1E5945, #34C924, #ACB78E,
    #00FF7F, #98FB98, #A8E4A0, #44944A, #00FF7F,
    #34C924, #343B29);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
    filter: blur(50px);
}

.pack {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 10px;
    background-size: cover;
    z-index: 10;
    border-radius: 8px;
    padding: 50px 40px;
    /*transition: transform 0.9s;*/
}

.container.opened,
.pack .opened {
    transition: transform 0.6s;
    transform: rotateY(180deg);
    box-shadow: 0 0 20px 10px rgba(66, 135, 245, 0.5);
    animation: glow 2s infinite ease-in-out;
    /*animation: rotate 3s linear, ease-in;*/
}


.saveButton {
    position: relative;
    margin: 200px auto;
    color: whitesmoke;
    width: 160px;
    height: 50px;
    background-color: #174b0b;
    z-index: 20;
    border-radius: 20px;
    font-size: 20px;
}

.darkContainer {
    width: 100%;
    height: 360px;
    background-color: black;
    opacity: 0.7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    /*flex-direction: column;*/
}

.backgroundContainer {
    position: absolute;
    inset: 1px;
    width: 255px;
    height: 360px;
    background-size: cover;
    border-radius: 8px;
    background-color: black;
}

.categoryTitle {
    font-size: 30px;
    color: white;
    text-shadow: 0 2px 0 #292322,
    0 3px 0 #c40
    /*0 4x 0 #c40*/
    /*0 5x 0 #c40,*/
    /*0 6x 0 #c40*/
    /*,*/
    /*-2x -2x 15px #f06,*/
    /*2x -2x 15px #f06,*/
    /*-2x 2x 15px #f06,*/
    /*2x 2x 15px #f06*/;
}

.brandTitle {
    font-size: 40px;
    color: white;
    text-shadow: -2px 2px 0 #292322,
    -4px 4px 0 #f60,
    -6px 6px 0 #292322,
    -8px 8px 0 #fc0;
    margin-bottom: 50px;
}

.brandContainer {
    width: 295px;
    min-height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /*top: 255px;*/
    /*left: 0;*/
    /*z-index: 10;*/
}

.brandContainer img {
    max-width: 100px;
    border-radius: 10px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 80px 40px rgba(0,155,119, 0.4);
    }
    50% {
        box-shadow: 0 0 80px 130px rgba( 0,155,119,0.7);
    }
    100% {
        box-shadow: 0 0 80px 40px rgba( 0,155,119, 0.4);
    }
}

