.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 300px;
    border: 1px solid black;
    margin-top: 30px;
    /*background: #424141;*/
}

.pack {
    width: 220px;
    height: 310px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.8s;
    border: 1px solid black;
    z-index: 2;
}

.open {
    transform: rotateY(180deg);
}

.openPackButton {
    width: 220px;
    height: 310px;
    background-size: cover;

    cursor: pointer;
    border: double 10px black;
}



.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 140vh;
    background-color: black;
    opacity: 0.9;
    color: #FFFFFF;
}

.modalWindow {
    width: 90%;
    height: 400px;
    position: relative;
    top: 100px;
    left: 18px;
    border: 3px solid green;
    border-radius: 10px;
}
.packTitle{
    margin: 20px auto;
    width: 90%;
    height: 50px;
    border: 3px solid green;
    border-radius: 15px;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    line-height: 44px;
}
.packDescription{
    margin: 20px auto;
    width: 80%;
    min-height: 70px;
    border: 3px solid green;
    border-radius: 15px;
}
.packDescription p{
    display: block;
    line-height: 10px;
    font-weight: bold;
}
.message {
    margin-top: 30px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    /*margin-top: 80px;*/
    padding: 0 15px;
}
.message span{
    color: gold;
}

.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.buttons img {
    max-width: 50px;
}

.isNotEnoughCoins{
    margin-top: 120px;
    color: #cb2e2e;
    font-size: 20px;
    font-weight: bold;
}
.shimmerEffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, transparent, rgba(150, 39, 39, 0.5), transparent);
    background-size: 200% 100%;
    animation: shimmer 5s infinite linear;
}

.glowEffect {
    /*position: absolute;*/
    /*z-index: -1;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 1px;
    top: 400px;
    left: 190px;
    background: transparent;
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100px;*/
    /*height: 100px;*/
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(66, 135, 245, 0.5);
    animation: glow 2s infinite ease-in-out;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 200px 100px rgba(66, 135, 245, 0.5);
    }
    50% {
        box-shadow: 0 0 200px 300px rgba(66, 135, 245, 0.5);
    }
    100% {
        box-shadow: 0 0 200px 100px rgba(66, 135, 245, 0.5);
    }
}