.wrapper{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
.menuItem{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    min-height: 80px;
    border-radius: 20px;
    box-shadow:  5px -5px 10px #cfcece,
    -5px 5px 10px #e5e4e4;
    font-weight: bold;
    font-size: 24px;
    color: #0f0217;
    text-decoration: none;
}