.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*width: calc(23% - 15px);*/
    width: 70px;
    margin: 10px;
    /*height: 100px;*/
    height: 90px;
    cursor: pointer;
    /*perspective: 600px;*/
    transition: transform 0.6s;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:  3px 3px 6px #bababa,
    -2px -2px 4px #ffffff;
}
.card.flipped{
    transition: transform 0.6s;
    transform: rotateY(360deg);

}
.card.matched{
    transform: scale(1.1);
}

.front img{
    max-width: 50px;
    border-radius: 10px;
    max-height: 82px;
}