.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*width: calc(23% - 15px);*/
    width: 70px;
    margin: 10px;
    /*height: 100px;*/
    height: 90px;
    cursor: pointer;
    /*perspective: 600px;*/
    transition: transform 0.6s;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:  3px 3px 6px #bababa,
    -2px -2px 4px #ffffff;
}
.card.flipped{
    transition: transform 0.6s;
    transform: rotateY(360deg);

}
.card.matched{
    transform: scale(1.1);
}

.front img{
    max-width: 50px;
    border-radius: 10px;
    max-height: 82px;
}








/*.wrapper{*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-color: black;*/
/*    color: whitesmoke;*/
/*}*/

/*.container{*/
/*    position: relative;*/
/*    width: 320px;*/
/*    height: 420px;*/
/*    background-color: #1c1c1c;*/
/*    border-radius: 8px;*/
/*    overflow: hidden;*/
/*    margin: 0 auto;*/
/*    top: 50px;*/
/*}*/

/*.container::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -50%;*/
/*    left: -50%;*/
/*    width: 380px;*/
/*    height: 420px;*/
/*    background: linear-gradient(0deg, transparent, #DF777D, #DF777D);*/
/*    transform-origin: bottom right;*/
/*    animation: animate 6s linear infinite;*/
/*}*/

/*.container::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -50%;*/
/*    left: -50%;*/
/*    width: 380px;*/
/*    height: 420px;*/
/*    background: linear-gradient(0deg, transparent, #DF777D, #DF777D);*/
/*    transform-origin: bottom right;*/
/*    animation: animate 6s linear infinite;*/
/*    animation-delay: -3s;*/
/*}*/

/*.pack{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    position: absolute;*/
/*    inset: 2px;*/
/*    background-color: #28292d;*/
/*    z-index: 10;*/
/*    border-radius: 8px;*/
/*    padding: 50px 40px;*/
/*}*/

/*.container.opened,*/
/*.pack.opened{*/
/*    transition: transform 0.6s;*/
/*    transform: rotateY(360deg);*/
/*    animation: animate 6s linear infinite;*/
/*}*/

/*@keyframes animate {*/
/*    0% {*/
/*        transform: rotateY(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotateY(360deg);*/
/*    }*/
/*}*/