.test{


    border: 2px solid green;
    background-size: cover;
}
.avatarItem{
    width: 70px;
    height: 70px;
    background-size: cover;
    border: 2px solid transparent;
}

.selectedItem{
    border: 2px solid green;
    /*box-shadow:  3px 3px 6px #279f0b,*/
    /*-2px -2px 4px #0d6c11;*/
    padding: 2px;
    margin-left: 5px;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    width: 80px;
    height: 80px;
    background-size: cover;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 greenyellow;
    }
}