.cards {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--background-primary);
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    box-shadow:  5px -5px 10px #858484,
    -5px 5px 10px #ffffff;
}
.cardsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    /*border: 1px solid #61dafb;*/
}