.wrapper{
    width: 100%;
    min-height: 100vh;
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.requestWrapper{
    width: 80%;
    height: 100px;
    border: 1px solid #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 80%;
    min-height: 800px;
    border: 1px solid #160e85;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.requestButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 20px;
}