.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shapes {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin-bottom: 2rem;
}

.shape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  color: white;
  background-color: #2980b9;
  border-radius: 50%;
  cursor: grab;
}
.shape.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #E91E63;
}
/*.shape.circle {*/
/*  background-color: #2196F3;*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  border-radius: 50%;*/
/*}*/
/*.shape.square {*/
/*  background-color: #FFC107;*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  border-radius: 10px;*/
/*}*/
/*.shape.rhombus {*/
/*  transform: rotate(45deg);*/
/*  background-color: #4CAF50;*/
/*  width: 100px;*/
/*  height: 100px;*/
/*}*/
/*.shape.oval {*/
/*  background-color: #9C27B0;*/
/*  width: 100px;*/
/*  height: 50px;*/
/*  border-radius: 50px / 25px;*/
/*}*/
.cells {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  color: white;
  background-color: #34495e;
  border-radius: 1rem;
  cursor: pointer;
}

.cell.empty {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.cell.occupied {
  border: 0.5rem solid #3498db;
}

.cell > .shape {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
}

/*.container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100vh;*/
/*}*/

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #d99191;
}

.hole {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  width: 80px;
  height: 20px;
  background-color: #333;
  transform-origin: 0 50%;
  margin-left: 20px;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);


}
.container1{
  transform: rotate(15deg) translate(108px) rotate(108deg);
}
.container2{
  transform: rotate(58deg) translate(103px) rotate(78deg);
}
.container3{
  transform: rotate(101deg) translate(114px) rotate(79deg);
}
.container4{
  transform: rotate(135deg) translate(136px) rotate(60deg);
}
.container5{
  transform: rotate(165deg) translate(160px) rotate(72deg);
}
.container6{
  transform: rotate(195deg) translate(175px) rotate(82deg);
}
.container7{
  transform: rotate(225deg) translate(180px) rotate(86deg);
}
.container8{
  transform: rotate(251deg) translate(173px) rotate(-255deg);
}
.container9{
  transform: rotate(278deg) translate(162px) rotate(106deg);
}
.container10{
  transform: rotate(308deg) translate(145px) rotate(99deg);
}
.container11{
  transform: rotate(340deg) translate(123px) rotate(102deg);
}
.container12{
  transform: rotate(352deg) translate(36px) rotate(138deg);
}
.container13{
  transform: rotate(104deg) translate(47px) rotate(58deg);
}
.container14{
  transform: rotate(163deg) translate(85px) rotate(51deg);
}
.container15{
  transform: rotate(206deg) translate(107px) rotate(71deg);
}
.container16{
  transform: rotate(246deg) translate(102px) rotate(-247.5deg);
}
.container17{
  transform: rotate(294deg) translate(83px) rotate(-292.5deg);
}
.container18{
  transform: rotate(227deg) translate(40px) rotate(-315deg);
}
.container19{
  transform: rotate(256deg) translate(39px) rotate(-315deg);
}
.container20{
  transform: rotate(246deg) translate(38px) rotate(123deg);
}