.wrapper {
    width: 100%;
    min-height: 800px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    background-color: var(--background-primary);
}
.backArrow{
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    border: 1px solid var(--background-primary);
    border-radius: 20px;
    background-color: #fff;
    inset: 0;
}
.closeModal{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.modal input{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
}
.greeting{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}
.modalItem {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    min-height: 80px;
    border-radius: 20px;
    box-shadow:  5px -5px 10px #cfcece,
    -5px 5px 10px #e5e4e4;
    font-weight: bold;
    font-size: 24px;
}
.modalItem img{
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.addCard {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow:  5px -5px 10px #858484,
    -5px 5px 10px #ffffff;
}

.cards {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--background-primary);
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    box-shadow:  5px -5px 10px #858484,
    -5px 5px 10px #ffffff;
}

.cardsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    /*border: 1px solid #61dafb;*/
}
.saveButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: var(--background-primary);
}